// _base.scss
// ----------
// Defaults and resets


// Pallette
$accent: #00AAAA;
$deep: #171717;
$middle: #272727;

* {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    transition-duration: 400ms;
    font-family: "Webly Sleek";
}

::selection {
    background: $accent;
}

html, body, #container {
    height: 100%;
    width: 100%;
}

body {
    background-color: $deep;
}

.btn {
    cursor: pointer;
}
