// Font faces

// Load fonts
@font-face {
    font-family: "Bebas Neue Regular";
    src: url("..//fonts/BebasNeue Regular.otf");
}

@font-face {
    font-family: "Bebas Neue Bold";
    src: url("../fonts/BebasNeue Bold.otf");
}

@font-face {
    font-family: "Hack";
    src: url("../fonts/Hack-Regular.ttf");
}
