// Layouts and stuff

@keyframes loading {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 100px;
    }
}

#header {

    &.loading {
        background-size: 100px 100px;
        background-image: linear-gradient(
            45deg,
            rgba(black, 0.1)  25%,
            transparent       25%,
            transparent       50%,
            rgba(black, 0.1)  50%,
            rgba(black, 0.1)  75%,
            transparent       75%,
            transparent
        );
        animation: loading 0.5s linear infinite;
    }

    height: 120px;
    width: 100%;
    background-color: $middle;
    box-shadow: 0px 0px 10px;
    -webkit-app-region: drag;

    // Floating player
    #player {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 120px;
        width: 100px;
        background-color: $middle;
        border-radius: 3px;
        -webkit-app-region: no-drag;
        box-shadow: 0px 0px 10px;
        z-index: 2;

        #cover {
            width: 100%;
            height: 100px;

            #cover-image {
                position: absolute;
                height: inherit;
                width: 100%;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                z-index: 2;
            }

            #controls {
                position: absolute;
                height: inherit;
                width: 100%;
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
                color: white;
                opacity: 0;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                z-index: 3;
                text-shadow: 0px 0px 10px black;

                &:hover {
                    opacity: 1;
                }

                #control-buttons {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    width: 100%;
                    letter-spacing: 5px;
                }
            }
        }

        #seek-section {
            position: relative;
            width: 100%;
            height: 20px;

            #vis {
                position: absolute;
                width: 100%;
                height: inherit;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            #seek-bar {
                cursor: pointer;
                position: absolute;
                height: inherit;
                width: 100%;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }

        // Seek bar
        .ui-slider-range {
            background: $accent;
            opacity: 0.4;
            height: 100%;
        }

        .ui-slider .ui-slider-handle{
            width: 2px;
            height: 20px;
            background: $accent;
            position: absolute;
            top: 0px;
        }
    }

    // Play info
    #info-text {
        position: relative;
        left: 140px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        color: $accent;
        white-space: nowrap;
        overflow: hidden;

        #track-name {
            font-family: "Bebas Neue Regular";
            font-size: 30px;
        }

        #artist-name {
            font-family: "Bebas Neue Bold";
            color: #949494;
        }
    }

    // Title bar buttons
    #titlebar-buttons {
        position: absolute;
        top: 7px;
        right: 7px;
        display: inline-flex;
        -webkit-app-region: no-drag;
        .title-btn {
            background: #5A5858;
            height: 12px;
            width: 12px;
            border-radius: 20px;
            margin: 5px;
            cursor: pointer;
        }

        #minimize-btn:hover {
            background: #2ecc71;
        }
        #maximize-btn:hover {
            background: #f1c40f;
        }
        #close-btn:hover {
            background: red;
        }
    }

}

// Scatter plot
#scatter {
    position: absolute;
    top: 120px;
    bottom: 40px;
    width: 100%;

    #hover-info {
        position: absolute;
        margin-left: 10px;
        margin-top: 10px;
        font-variant: small-caps;
        font-family: "Hack";
        font-size: 15px;
        color: rgba(255, 255, 255, 0.3);
        pointer-events:none;

        #hover-artist {
            font-size: 12px;
        }
    }

    #scatter-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        z-index: 1;

        circle {
	          fill: none;
	          stroke: $accent;
	      }
    }
}

// Status and command
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    background-color: $middle;
    box-shadow: 0px 0px 10px;
    display: inline-block;

    .fa-stack {
        .fa-stack-2x {
            color: transparent;
        }
        .fa-stack-1x {
            color: $accent;
            &.disabled {
                color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    #command-line {
        padding: 5px;
        float: left;
        width: 70%;
        height: inherit;

        input {
            border: none;
            background-color: transparent;
            font-family: "Hack";
            color: white;
            width: inherit;
            font-size: 11px;
        }
    }

    #status-line {
        padding: 5px;
        text-align: right;
        letter-spacing: 5px;
        float: right;
        width: 25%;
        height: inherit;

        #mode {
            font-family: "Hack";
            color: gray;
            font-size: 16px;
            font-variant: small-caps;
        }
    }

    #foot-line {
        position: absolute;
        bottom: 0px;
        height: 5px;
        background-color: $accent;
        width: 100%;

        &.error {
            background-color: red;
        }
    }
}

