// Layouts and stuff

@keyframes loading {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 100px;
    }
}

#header {

    transition-duration: 0s;
    &.loading {
        background-size: 100px 100px;
        background-image: linear-gradient(
            45deg,
            rgba(black, 0.1)  25%,
            transparent       25%,
            transparent       50%,
            rgba(black, 0.1)  50%,
            rgba(black, 0.1)  75%,
            transparent       75%,
            transparent
        );
        animation: loading 0.5s linear infinite;
    }

    height: 60px;
    width: 100%;
    background-color: $deep;
    -webkit-app-region: drag;

    // youtube-btn
    #youtube-btn {
        position: absolute;
        top: 20px;
        left: 20px;
        -webkit-app-region: no-drag;

        img {
            opacity: 0.6;
            height: 20px;
            width: 20px;
            &:hover {
                opacity: 1;
            }
        }
    }

    // Play info
    #info-text {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 15px;
        color: $accent;
        white-space: nowrap;
        overflow: hidden;

        #artist-name {
            margin-left: 20px;
            color: #949494;
        }
    }

    // Title bar buttons
    #titlebar-buttons {
        position: absolute;
        top: 20px;
        right: 15px;
        display: inline-flex;
        -webkit-app-region: no-drag;
        .title-btn {
            background: #5A5858;
            height: 12px;
            width: 12px;
            border-radius: 20px;
            margin: 5px;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }

        #minimize-btn {
            background: #2ecc71;
        }
        #maximize-btn {
            background: #f1c40f;
        }
        #close-btn {
            background: red;
        }
    }

}

// Metadata
#metadata {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 0px;
    width: 150px;
    background-color: rgba(23, 23, 23, 0.6);
    font-size: 11px;
    color: $accent;
    z-index: 100;
    padding: 20px;
    text-align: right;
    border-top-left-radius: 10px;

    #artist-input {
        margin-bottom: 6px;
    }

    input {
        width: 100%;
        color: rgb(180, 180, 180);
        text-align: right;
        background: transparent;
        border-width: 0px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: $accent;
    }
}

// Floating player
#player {
    position: absolute;
    bottom: 60px;
    left: 30px;
    display: inline-flex;
    z-index: 2;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }

    .player-btn {
        width: 10px;
        position: relative;
        opacity: 0.6;
        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    #prev-btn {
        height: 40px;
        top: 20px;
        margin-right: 5px;
    }

    #next-btn {
        height: 60px;
        width: 20px;
        margin-left: 5px;
        top: 10px;
        &:hover {
            margin-left: 8px;
        }
    }

    #cover-wrap {
        background: $middle;
        box-shadow: 0px 0px 10px;
        border-radius: 3px;
        width: 80px;
        #cover {
            width: 80px;
            height: 80px;

            #cover-image {
                position: absolute;
                height: inherit;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                z-index: 2;
                width: 80px;
                height: 80px;
            }

            #play-btn {
                position: absolute;
                height: inherit;
                width: 80px;
                background: rgb(0, 0, 0);
                z-index: 3;

                #pause-img {
                    width: 40px;
                    height: 40px;
                    margin-left: 20px;
                    margin-top: 20px;

                    &.zoomed {
                        margin-top: -10px;
                        margin-left: -10px;
                        width: 100px;
                        height: 100px;
                        opacity: 0;
                    }
                }
            }
        }
        #seek-section {
            position: relative;
            width: 100%;
            height: 10px;

            #vis {
                position: absolute;
                width: 100%;
                height: inherit;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            #seek-bar {
                cursor: pointer;
                position: absolute;
                height: inherit;
                width: 100%;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }

        // Seek bar
        .ui-slider-range {
            background: $accent;
            opacity: 0.4;
            height: 100%;
        }

        .ui-slider .ui-slider-handle{
            width: 2px;
            height: 10px;
            background: $accent;
            position: absolute;
            top: 0px;
        }
    }
}

// Scatter plot
#scatter {
    position: absolute;
    top: 60px;
    bottom: 40px;
    left: 0px;
    right: 0px;

    #hover-info {
        position: absolute;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 11px;
        color: rgba(255, 255, 255, 0.3);
        pointer-events:none;
        transition-duration: 100ms;

        #hover-artist {
            font-size: 12px;
        }
    }

    #scatter-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        z-index: 1;
        circle {
            transition-duration: 0s;
            fill: none;
            stroke: $accent;
        }

        circle.similar {
            fill: $accent;
            opacity: 0.2;
            stroke: none;
        }

        circle.hover {
            stroke-width: 4;
        }

        circle.current {
            stroke-width: 1;
            &#inner {
                stroke-width: 2;
            }
        }
    }
}

// Status and command
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 43px;
    background-color: $deep;
    display: inline-block;

    .fa-stack {
        .fa-stack-2x {
            color: transparent;
        }
        .fa-stack-1x {
            color: $accent;
            &.disabled {
                color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    #command-line {
        padding: 5px;
        float: left;
        width: 70%;
        height: inherit;

        input {
            border: none;
            background-color: transparent;
            font-family: "Hack";
            color: white;
            width: inherit;
            font-size: 11px;
        }
    }

    #status-line {
        padding: 5px;
        text-align: right;
        letter-spacing: 5px;
        float: right;
        width: 25%;
        height: inherit;

        #mode {
            font-family: "Hack";
            color: gray;
            font-size: 16px;
            font-variant: small-caps;
        }
    }

    #foot-line {
        position: absolute;
        bottom: 0px;
        height: 3px;
        background-color: $accent;
        width: 100%;

        &.error {
            background-color: red;
        }

        &.ok {
            background-color: #3DD342;
        }
    }
}
