// Configurations
// --------------

var config = {
    db: "./base/data.db",
    lastfm: {
        user: "",
        password: "",
        API_KEY: "",
        SECRET: ""
    },
    api_port: "1234",
    rpc_address: "tcp://127.0.0.1:1236"
};

module.exports = config;
