// Configurations
// --------------

var config = {
    db: "./base/data.db",
    lastfm: {
        user: "",
        password: "",
        API_KEY: "",
        SECRET: ""
    }
};

module.exports = config;
