// Configurations
// --------------

var blackbird = blackbird || {};

blackbird.config = {
    db: "";
    lastfm: {
        user: "",
        passhash: "",
        API_KEY: "",
        SECRET: ""
    }
};
