# Blackbird Config file
# Insert absolute paths

# Main database path
db: ""

# lastfm Credentials
lastfm:
  user: ""
  password: ""
  api_key: ""
  secret: ""

# Player api port
api_port: "1234"

# Downloader process port
rpc_port: "1236"

# Youtube Download directory
download_dir: ""
